# This file specifies intentionally untracked files that all Moodle git
# repositories should ignore. It is recommended not to modify this file in your
# local clone. Instead, use .git/info/exclude and add new records there as
# needed.
#
# Example: if you deploy a contributed plugin mod/foobar into your site, put
# the following line into .git/info/exclude file in your Moodle clone:
# /mod/foobar/
#
# See gitignore(5) man page for more details
#
/config.php
/lib/editor/tinymce/extra/tools/temp/
*~
*.swp
/tags
/TAGS
/cscope.*
/.patches/
/.idea/
/nbproject/
CVS
.DS_Store
/.settings/
/.project
/.buildpath
/.cache
phpunit.xml
# Composer support - only composer.json is to be in git, the rest is installed in each checkout.
composer.phar
composer.lock
/vendor/
# our stuff below there
#ignore contributed modules
blocks/navbuttons/
mod/hotpot/
theme/decaf/
#own modules
blocks/navbuttons/
config.site1.php
config.site2.php
theme/aardvark/
theme/aardvark_postit/
theme/aardvark_postitnote/
theme/allc/
theme/bootstrap/
theme/decaf/
theme/theme_aardvark_moodle23_2012091000.zip
theme/theme_aardvark_postit_moodle23_2012072100.01.zip
theme/theme_aardvark_postitnote_moodle22_2012091700.zip
theme/theme_allc_moodle21_2.zip
theme/theme_bootstrap_moodle23_2012101200.zip
theme/theme_decaf_moodle24_2012101705.zip
upgrade

